#hero-card{
    background-color: white;
    border-radius: 10px;
    display: flex;
    box-shadow: var(--box-shadow);
    max-width: var(--max-content-size);
    margin: var(--gutter-mobile);
}

#hero-card-img{
    width: 40%;
    background-image: url('../bear.jpg');
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}

#hero-card-content{
    padding: 25px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#hero-card-content-text{
    padding: 8% 16%;
}

#hero-card-content-text p{
    line-height: 2em;
}

#hero-card h2{
    font-size: 1.5em;
    margin-bottom: 25px;
}

#hero-card button{
   align-self: end;
    width: fit-content;
    padding: 10px 15px;
    border: 1px dashed transparent;
    border-radius: 6px;
    background-color: var(--color-orange);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

#hero-card button:hover{
    background-color: transparent;
    color: black;
    border: 1px dashed var(--color-orange)
}

@media (width > 425px){
    #hero-card{
        margin: var(--gutter-tablet);
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media (width <= 768px) {
    #hero-card{
        flex-direction: column;
    }
    #hero-card-img{
        height: 400px;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    #hero-card-content{
        padding: 15px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    #hero-card-content-text{
        padding: 5px;
    }
}

@media (width >= 768px) {
    #hero-card-content-text{
        padding: 25px;
    }
    #hero-card-content{
        padding: 25px;
    }
    #hero-card{
        /* flex-direction: ; */
        margin: var(--gutter-tablet);
        margin-top: 5%;
        margin-bottom: 10%;
    }
}